h1 {
  font-size: 50px;
  font-family: Lucida Sans;
  font-weight: bold;
}
h2 {
  font-weight: bold;
  font-size: 25px;
  font-family: georgia;
  

}
header, section, footer, aside, nav, article, hgroup {
  border: 5px solid black;
  display: block
}
body {
  text-align: center;
}
.agrupar {
  width: 400px;
  border: solid white;
  margin: auto;
  padding: 60px;


}
.header {
  background:#fbc6aa ;
  border: 10px solid #b5828c;
  padding: 20px
}



         
