h1 {
  background:#fbc6aa;
  font-size: 100px;
  font-family: Lucida Sans;
  font-weight: bold;
}
h2 {
  background:	#dd8d90 ;
  font-weight: bold;
  font-size: 50px;
  font-family: cursive;
  

}
h3 {
  background:#b5828c ;
  font-size:  30px;
  
}
header, section, footer, aside, nav, article, hgroup {
  border: 5px solid	#fbc6aa ;
  display: block
}
body {
  background:#6f6a76 ;
  text-align: center; 
  margin: auto
}
.agrupar {
  width: 1500px;
  border: solid white;
  margin: auto;
  padding: 10px;


}
.header {
  background:#fbc6aa ;
  border: 10px solid #b5828c;
  padding: 20px
}
.menu {
  background: #6f6a76;
  padding: 15px;
  
}

.menu li {
  list-style: none;
  padding: 5px;
  font: bold 25px verdana;
  display: inline-block;
}


 .seccion {
   margin: 20px;
   width: 900px;
   border: 1px solid salmon;
   float: left;
}
 article {
   border: 1px solid white;
 }
 .columna {
   margin: 70px;
   width: 400px;
   border: 1px solid black;
   float: right;
   background: rosybrown;
 }
 .pie {
   clear: both;
   padding: 20px;
   background: thistle;
 }




         
